* {
	margin: 0;
	font-family: monospace;
}

main {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2rem;
}

header {
	border: 1px solid transparent;
}
nav {
	a {
		color: white;
		&:hover {
			color: white;
		}
	}
}
#dark {
	header {
		background: #000;
		border: 1px solid yellow;
	}
	a {
		color: white;
	}
	background-color: #000;
	div a {
		background: #000;
	}
	a div {
		border: 1px solid yellow;
	}
	a h3,
	a p {
		color: white;
	}
}
