*{
    box-sizing: border-box;
    transition: all .3s;
}
body{
    margin: 0;
    padding: 0;
    background-color: #EDF3F8;
    font-family: "DM Serif Display", sans-serif;
    font-family: "Public Sans", sans-serif;
}

img{
    object-fit: cover;
}