.hero-section {
 margin-bottom: 74px;
}

// .hero-section::after {
//  content: "";
//  width: 650px;
//  height: 650px;
//  position: absolute;
//  top: -224px;
//  right: 0;
//  display: block;
//  background-image: url(./../../images/hero-img.png);
//  background-size: 650px 650px;
//  background-position: top right;
//  background-repeat: no-repeat;
//  z-index: -1;
// }

.hero {
 @include fl();
}

.hero__content {
 max-width: 546px;
}

.hero__title {
 margin: 0 0 21px 0 !important;
 padding: 0;
 font-family: 'DM Serif Display', sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 72px;
 line-height: 72px;
 color: #36536B;
}

.hero__form {
 margin: 0 0 16px 0;
 max-width: 445px;
}

.d-none{
 display: none;
}

.hero__btn-wrapper {
 @include fl();
 background: #FBFCFE;
 box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
 border-radius: 24px;
}

.hero__btn-wrapper input {
 background-color: transparent;
 border: none;
 margin-left: 27px;
}

.hero__text {
 margin-left: 27px;
 padding: 0;
 font-weight: 400;
 font-size: 15px;
 line-height: 18px;
 color: #6C8294;

 span {
  font-weight: bolder;
 }
}

.hero__img {
 z-index: 1;
 width: 50%;
 text-align: center;
}

.hero__tablet-img {
 display: none;
}

@media only screen and (max-width: 900px) {
 .hero-section {
  margin-bottom: 100px;
 }

 .hero {
  flex-direction: column-reverse;
 }

 .hero__img {
  margin-bottom: 48px;
 }

 .hero__tablet-img {
  margin: 0 auto;
  display: block;
 }

 .hero__desktop-img {
  display: none;
 }

 .hero__content {
  text-align: center;
 }

 .hero__form {
  margin: 0 auto 16px;
 }

 .hero__title {
  margin-bottom: 22px;
  font-size: 48px;
  line-height: 56px;
 }

 .hero__text {
  margin: 0px;
 }
}

@media only screen and (max-width:500px) {
 .hero-section {
  margin-bottom: 80px !important;
 }

 .hero__img {
  margin-bottom: 24px !important;
 }

 .hero__title {
  margin-bottom: 24px !important;
  font-size: 32px;
  line-height: 36px;
 }

 .hero__btn-wrapper{
  margin-bottom: 16px !important;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  input{
   margin: 0;
   padding: 16px 0px 14px 27px !important;
  }
 }

 .d-none{
  display: block;
  margin: 0 auto;
  width: 100%;
 }

 .d-block{
  display: none;
 }
}