.box{
  width: 250px;
  height: 250px;
  background-color: khaki;
  box-shadow: 260px 0 0 0,260px 260px 0 0 green;
  transition: all 0.5s;  
}

.box:hover{
  background-color: blue;
  box-shadow: 0 0 0 0,0 0 0 0 green;
}