.header {
    padding: 25px 0;
    @include flex(space-between);
}

.header-list {
    margin: 0;
    padding: 0;
    @include flex(flex-start);
    gap: 35px;
    list-style: none;
}

.header-item {
    position: relative;
}

.header-item a {
    display: inline;
    text-decoration: none;
    font-size: 18px;
    line-height: 140%;
    color: #72727E;
}

.header-item a::before {
    margin: 0 auto;
    width: 0%;
    height: 1px;
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #72727E;
    transition: all .3s;
}

.header-item:hover>a::before {
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 14px 25px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    border-radius: 6px;
    border: 1px solid #E9ECF5;
    transition: all .3s;
}

.btn-white {
    background-color: #fff;
    color: #446DF6;
    &:hover {
        color: #EEEEEE;
        background: #446DF6;
    }
}