.work {
    margin-bottom: 200px;
    width: 1045px;
}

.work__title {
    margin-bottom: 80px;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.line {
    margin-bottom: 67px;
    width: 760px;
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #FDD6BA;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    span {
        display: inline-block;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        background: #FEFCF7;
        border: 2px solid #0E8784;
        z-index: 1;
    }
}

.work__list {
    margin: 0;
    padding: 0;
    @include flex(space-between);
    list-style: none;
}

.work__item {
    width: 285px;
}

.work__item-num {
    margin: 0 0 38px 0;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.work__item-title {
    margin: 0 0 42px 0;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.work__item-text {
    margin: 0 0 64px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}