main {
 background-image: url(../images/body-bg.png);
 background-repeat: no-repeat;
 background-color: #F9F9F9;
 // background-size: 100% 100%;
 background-position-x: calc(50%);
 background-position-y: calc(50% + 300px);
}