.header-inner {
 margin-bottom: 74px;
 padding: 40px 0;
 @include fl();
 z-index: 2;
}

.header__link {
 @include fl();
 gap: 64px;
}

.header__list {
 margin: 0;
 padding: 0;
 @include fl();
 list-style: none;
 gap: 40px;
}

.header__item-link {
 text-decoration: none;
 font-weight: 700;
 font-size: 15px;
 line-height: 18px;
 color: #36536B;
 mix-blend-mode: normal;
 opacity: 0.7;
 &:hover{
  color: #BA4270;
  opacity: 1;
 }
}

.btn{
 padding: 16px 24px 14px 26px;
 display: inline-block;
 box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
 border-radius: 24px;
 font-weight: 700;
 font-size: 15px;
 line-height: 18px;
 text-decoration: none;
 border: none;
 cursor: pointer;
 
}

.btn-danger {
 background: #BA4270;
 color: #FBFCFE;
}

.btn-danger:active {
 opacity: .7;
}

.btn-danger:hover {
 background: #DA6D97;
}

.burger, .close-menu{
 display: none;
}

@media only screen and (max-width: 900px) {
 .header-inner{
  margin-bottom: 0px;
  padding-bottom: 48px;
 }
}

@media only screen and (max-width: 700px) {
 .header__list,
 .header__btn {
  display: none;
 }

 .burger{
  display: block;
 }
}

@media only screen and (max-width:500px) {
 .header-inner{
  padding-bottom: 38px;
 }
}