.container {
  width: 100vw;
  height: 100vh;
  // padding: 20px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.light {
  background: #ddd;
  color: #111;
}

.dark {
  background: #333;
  color: #fff;
}