.header {
  padding: 20px 0;
  width: 100vw;
  position: fixed;
  background-color: gray;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  a {
    color: rgb(36, 35, 35);
  }
}
