.header {
  padding: 20px 0;
  width: 100vw;
  position: fixed;
  background-color: gray;
  z-index: 100;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  a {
    color: black;
    &:hover {
      color: white;
    }
  }
}
