* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 50px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  font-family: cursive;
}

.form {
  padding: 40px 55px 30px 55px;
  width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.form:hover {
  -webkit-box-shadow: 0px 0px 5px 1px;
  box-shadow: 0px 0px 5px 1px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

input {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  outline: none;
}

input:hover {
  border-color: #b9b7b7;
}

.input-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  color: #292929;
}

.input-first {
  margin: 6px 0 20px 0;
  padding: 13px 0 11px 14px;
  line-height: 24px;
}

.input-first::-webkit-input-placeholder {
  opacity: 0.5;
}

.input-first::-moz-placeholder {
  opacity: 0.5;
}

.input-first:-ms-input-placeholder {
  opacity: 0.5;
}

.input-first::-ms-input-placeholder {
  opacity: 0.5;
}

.input-first::placeholder {
  opacity: 0.5;
}

.input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.input-row-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  color: #292929;
}

.input-row-top+.input-row-top {
  margin-left: 16px;
}

.form-button {
  padding: 12px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #FD9339;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #FD9339;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form-button:hover {
  background-color: #fff;
  color: #FD9339;
}

.form-text {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.line {
  width: 220px;
  height: 1px;
  background-color: #E6E6E6;
}

.line+.line {
  margin-right: 10px;
}

.text {
  margin: 0 15px;
  padding: 0;
}

.form-img-row {
  margin: 17px 0 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 14px;
}

.img-link {
  text-decoration: none;
}

.img-link img {
  width: 40px;
  height: 40px;
}

.form-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #686868;
}

.text-yellow {
  color: #FD9339;
  text-decoration: underline;
}

.bottom-line {
  margin-top: 20px;
  width: 100%;
}

.bottom-text {
  margin: 30px 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4E2D2D;
}