* {
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  &:hover {
    color: black;
  }
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.box {
  padding: 100px 20px 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  border-bottom: solid white 1px;
  color: #ffffd0;
}
