* {
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.active {
  border-bottom: solid black 1px;
  color: #e4e4e4;
}
