* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Fraunces", serif;
    font-family: "Barlow", sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}