* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	font-family: cursive;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 20px;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 25px;
}
