.hero-section{
 padding: 30px;
 position: absolute;
 top: 0;left: 255px;
 background-color: #e5e5e5;
}


@media only screen and (max-width: 1150px) {
    
}

@media only screen and (max-width: 768px) {
    .hero-section{
     left: 106px;
     z-index: -2;
    }

}

@media only screen and (max-width:500px) {
    
}