$red: crimson;
$blue: royalblue;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

// .card {
//     .btn {
//         padding: 10px 30px;
//         color: white;
//         border: none;
//         &:hover {
//             background-color: $red;
//         }
//         &:active {
//             background-color: $blue;
//         }
//     }
// }
.hero-section {
    height: 100vh;
    background-color: #FFCA3A;
    .hero {
        .hero__list {
            list-style: none;
            display: flex;
            text-align: center;
            // justify-content: center;
            .hero__item {
                margin: 70px 0;
                padding: 0 107px;
                width: 50%;
                &:first-child {
                    border-right: 1px solid #858585;
                }
                img {
                    margin-bottom: 24px;
                }
                h2 {
                    margin-bottom: 14px;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                    text-align: center;
                    color: #011F3A;
                }
                p {
                    margin-bottom: 10px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    text-align: center;
                    color: #3D5675;
                }
                a {
                    padding: 13px 25px;
                    display: inline-block;
                    background: #FFFFFF;
                    border-radius: 44px;
                    font-size: 14px;
                    text-decoration: none;
                    line-height: 18px;
                    letter-spacing: 1.96px;
                    text-transform: uppercase;
                    color: #3D5675;
                    transition: all .3s;
                    &:hover {
                        background-color: $red;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}